/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/03/2018, 01:24:47 AM
    Author     : Usuario
*/
#cabecera{
    text-align: center;
    font-family: Lucida Calligraphy;
    font-size: 30px;
    color: white;
    background: red;
    padding: 5px;
}
img{
    border-radius: 20px;
    padding: 15px;
}
ul li{
    list-style-type: none;
    display: inline;
    font-size: 20px;
    font-weight: bold;
    font-family: Script MT Bold;
    color:  white;
    background: red;
    padding: 10px;
    border-radius: 50px;
}
ul ol{
    list-style-type: none;
    display: list-item;

}
#menú{
    text-align: center;
    padding-bottom: 15px;
}
#cuerpo-nosotros{
    
}
#izquierdo{
    
}
#derecho{
    
}
#pie{
    text-align: center; 
    font-family: Script MT Bold;
    color: white;
    background: red;
}

