/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/03/2018, 01:43:12 AM
    Author     : Usuario
*/
#cabecera{
    text-align: center;
    font-family: Lucida Calligraphy;
    font-size: 30px;
    color: white;
    background: red;
    padding: 5px;
}
ul li{
    list-style-type: none;
    display: inline;
    font-size: 20px;
    font-weight: bold;
    font-family: Script MT Bold;
    color:  white;
    background: red;
    padding: 10px;
    border-radius: 50px;
}
#menú{
    text-align: center;
    padding: 15px;
}
#cuerpo-productos{
    display: inline;
    
}
#pie{
    text-align: center;
    font-family: Script MT Bold;
    color: white;
    background: red;
}
